body {
    width: 400px;
    margin: 0 auto;
    background-color: #5AD8C5;
    padding: 0 10px 10px 10px;
    border: 3px solid black;
 }
 h1 {
    margin: 0;
    padding: 20px 0;
    color: #f07b0e;
    text-shadow: 3px 3px 2px black;
 }
 p {
    color: #0E18F0;
    text-family: "Verdana";
 }
 .intro {
    color: #EDF00E;
 }
 ol, ul, li {
    color: #928787;
    font-family: "Arial";
 }
 table {
    width: 95%;
    border: 1px solid #ffffff;
    border-radius: 20px;
    align: left;
    color: white;
 }
 td {
    vertical-align: tod;
 }
